.top-story-header {
  font-size: 14px;
  height: 48px;
}

.top-story-card {
  max-width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.top-story-card mat-card-title {
  font-size: 10px;
}
.top-story-card mat-card-subtitle {
  font-size: 10px;
}
.top-story-card mat-button {
  font-size: 10px;
}
.top-story-card mat-card-subtitle a {
  font-size: 10px;
}
