.primary-article-card {
  max-width: 800px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.secondary-article-card {
  max-width: 300px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.secondary-article-card mat-card-title {
  font-size: 12px;
}
.secondary-article-card mat-card-subtitle {
  font-size: 11px;
}
.secondary-article-card mat-button {
  font-size: 11px;
}
.secondary-article-card mat-card-content {
  font-size: 10px;
}
.secondary-article-card mat-card-actions a {
  font-size: 12px;
}
